h1 {color: rgb(44, 54, 199); font-size:50px}
h2 {color: rgb(132, 47, 212); font-size:30px}
h3 {color: rgb(87, 88, 88); font-size:30px}

p, ol, ul {
    color: black; font-size: 20px;
}

.standout, .bold_text {
    color: red;
}

p[align]{color: rgb(233, 27, 171);}
p[align="center"]{color: rgb(195, 233, 27);}

.image1:hover{border-radius: 50%; transform: translate(30px, -30px);}
.image2:hover{border-radius: 20px; opacity: 0.6; transform: rotate(45deg);}
.image3:hover{filter: grayscale(70%); transform: scale(0.5);}
.image4:hover{filter: blur(4px); transform: skew(50deg, -15deg);}

@keyframes move_image {
    0% {transform: translate(30px,30px);}
    25% {transform: translate(60px,60px);}
    75% {transform: translate(90px,90px);}
    100% {transform: translate(120px,120px);}
}

.image_animation:hover{
    animation-name: move_image;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h1:hover{
    animation-name: move_image;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}