
.title-dragon {
    font-size: 40px;
    font-weight: 900;
    color: #ffd966;
    text-shadow: 4px 4px 0 #8b1a1a, 8px 8px 20px #e6b800;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 38px;
    color: #ffd700;
    text-shadow: 2px 2px 0 #690000;
    border-left: 15px solid #ffd700;
    padding-left: 20px;
    margin-bottom: 30px;
}

.item-row{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.item-row.reverse{
    flex-direction:row-reverse;
}

.item-text{
    font: size 30px;
    color: purple;
    line-height:1.5;
}

.item-img{
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 40px 10px;
    color: #fff2b5;
    font-size: 20px;
    border-top: 6px dotted #ffd966;
    margin-top: 30px;
}

p{
    font-size: 20px;
    padding-left: 20px;
}

.zoom-img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

li{
    color:darkred
}